@model IEnumerable<DemoMVC.Models.EMPDATA>
@{
    ViewBag.Title = "getEmp";
}

<h2>getEmp</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Enter Empno</td>
            <td>
                @Html.DropDownList("ddlEmpno",
                new SelectList(ViewBag.EL, "Ename", "Empno", ViewBag.E2),
                "Select", new { onblur = "func1();" })
            </td>
            <td><input type="submit" value="DELETE" onclick="func2();" /></td>
        </tr>
    </table>
}
<script>
    function func2()
    {

        var eno = document.getElementById("ddlEmpno").value;
        prompt("enter Yes or No");
        alert(eno);

    }
</script>


